
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    width: 100%;
    max-width: 450px; /* Adjust the max-width as needed */
    
  }
  
  .custom-button {
    width: 100%;
    padding: 12px;
    background-color: #d9d7d7;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #969494;
  }
  
  
